.git
.gitignore
.husky
.turbo
node_modules
apps/*/node_modules
packages/*/node_modules
dist
apps/*/dist
packages/*/dist
build
out
npm-debug.log
yarn-error.log
pnpm-debug.log
.env
.env.*
!.env.example
docker-compose*.yml
*.md
Dockerfile
apps/*/Dockerfile
docker/
.github/
.vscode/
